*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
}
body{
    display: flex;
}
p{
    font-size: medium;
}
button{
    background-color: aliceblue;
}
button:hover{
    cursor: pointer;
    background-color: burlywood;
    color: black;
}